* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.newpassword {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 0 0 0;
  background-color: #fff;
}

.npfirstHalf {
  min-width: 50.79vw;
  display: inline-block;
}

.npHPD {
  margin: 5.4vh 0 6vh 3vw;
  height: 5vh;
  width: 2.5vw;
  display: inline-block;
}

.npspan {
  color: #a4a4a4;
  font-size: 0.9vw;
  margin-top: 2vh;
  margin-left: 6.51vw;
  margin-bottom: 0.67vh;
  display: block;
  font-weight: 300;
  font-size: 1vw;
}

.npspan1 {
  color: #a4a4a4;
  font-size: 0.9vw;
  margin-top: 0.67vh;
  margin-left: 6.51vw;
  margin-bottom: 0.67vh;
  display: block;
  font-weight: 300;
  font-size: 1vw;
}
.npspan2 {
  color: red;
  font-size: 0.9vw;
  margin-top: 0.67vh;
  margin-left: 0px;
  margin-bottom: 0.67vh;

  font-weight: 300;
}
.nppassword {
  width: 28.64vw;
  height: 6.5vh;
  margin: 0px 0px 0px 6.51vw;
  padding-left: 1.95vw;
  position: relative;
  border-radius: 0.66vw;
  border: solid 0.134vh #cdcdcd;
  background-color: #fff;
  font-size: 1vw;
}
.nppasswordIcon {
  position: relative;
  right: 28vw;
  top: 0.27vh;
  height: 2vh;
  width: 0.8vw;
}
.npeyeIcon {
  position: relative;
  /* right: 3.2vw; */
  top: -40px;
  margin: 0px 0px 0px 514px;
  /* height: 1.75vh; */
  /* width: 1.1vw; */
  width: 22px;
  height: 18.3px;
  object-fit: contain;
  flex-grow: 0;
}
.npeyeIconOpen {
  position: relative;
  /* right: 3.2vw; */
  top: -40px;
  margin: 0px 0px 0px 514px;
  /* height: 1.75vh; */
  /* width: 1.1vw; */
  width: 22px;
  height: 18.3px;
  object-fit: contain;
  flex-grow: 0;
}

.npdiv1 {
  width: 38.4vw;
  margin: 0.67vh 0px 0px 6.51vw;
  position: relative;
  font-weight: 600;
  font-family: Outfit;

  color: #000000;
  font-size: 2.8vw;

  text-align: left;
}

.line {
  margin: 9vh 0px 0px 6.51vw;
  background-color: #f2f3f2;
  border: 0.27vh solid #f2f3f2;
  width: 60%;
}
.subtitle {
  margin: 0px 0px 0px 6.51vw;
  font-weight: 600;
  font-size: 1.1vw;
}
.learnMore {
  color: #fa5e00;
  padding-left: 0.33vw;
  text-decoration: underline;
}

.npRectangle-side {
  width: 40%;
  /* height: 1000px; */
  margin: 0px 0 0 0px;
  padding: 487px 105px 31.2px 106px;
  background-image: linear-gradient(to bottom, #f4f2ea 0%, #d9d6c9 100%);
}
/* 
  @media screen and (max-height: 700px) {
    .npRectangle-side {
      height: auto;
    }
  } */

.npcouplesideImg {
  width: 30vw;
  height: 62.4vh;
  margin-left: 0vw;
  position: absolute;
  bottom: 0.15vh;
}
