*{
    box-sizing: border-box;
   
  }
  
  body{
    padding: 0;
    margin: 0;
  }
  
  
  
  .newpassword{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    background-color: #fff;
    
  }
  
  
  .npfirstHalf {
    min-width: 780px;
    display: inline-block;
    
  }

  .npHPD {
    margin: 40px 0 50px 45px;
    
    display: inline-block;
  }

  .npspan{
      color:#a4a4a4 ;
      font-size: 14px;
      margin-top: 15px;
      margin-left: 100px;
      margin-bottom: 5px;
      display: block;
      font-weight: 300;
  }

  .npspan1{
    color:#a4a4a4 ;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 100px;
    margin-bottom: 5px;
    display: block;
    font-weight: 300;

}
.npspan2{
    color:red ;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
   
    font-weight: 300;

}
.nppassword {
    width: 440px;
    height: 48px;
    margin: 0px 0px 0px 100px;
    padding-left: 30px;
    position: relative;
    border-radius: 10px;
    border: solid 1px #cdcdcd;
    background-color: #fff;
  }
  .nppasswordIcon {
    position: relative;
    right: 430px;
    top: 2px;
    height:16px;
    width:13px;
  }
  .npeyeIcon {
    position: relative;
    right: 50px;
    top: 2px;
    height:13px;
    width:16px;
  }
  .npeyeIconOpen{
    position: relative;
    right: 50px;
    top: 2px;
    height:15px;
    width:16px;
  
  }

  .npdiv1{
    width:590px;
    margin:5px 0px 0px 100px;
    position:relative;
    font-weight:300px;
    font-family:Outfit;
    
    color:#000000;
    font-size: 45px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.41px;
    text-align: left;
  }

.line{
  margin:70px 0px 0px 100px;
  background-color: #f2f3f2;
  border: 2px solid #f2f3f2 ;
  width: 60%;
     
}
.subtitle{
    margin: 0px 0px 0px 100px;
    font-weight: 600;
}
.learnMore{
    color: #fa5e00;
    padding-left: 5px;
    text-decoration: underline;
}
  
  .npRectangle-side {
    min-width: 690px;;
    height: 100vh;
    margin-left: auto;
   
    background-image: linear-gradient(to bottom, #f4f2ea 0%, #d9d6c9 100%);
   
  }

  @media screen and (max-height: 700px) {
    .npRectangle-side {
      height: auto;
    }
  }
  
  .npcouplesideImg{
    width: 490px;
    height: 465px;
    margin-left: 100px;
    position: absolute;
    bottom: 1px;
    
  }


  