* {
  box-sizing: border-box;
}
.adminmsrcontainer {
  padding: 10px !important;
  display: inline-block;
  margin-left: 40px;
  margin-right: 50px;
  width: 90%;
}
.adminmsrcontainerhr {
  width: 70%;
  margin-left: 300px;
  background-color: #f2f3f2;
  border: 1px solid #f2f3f2;
  margin-top: 10px;
}
.adminmsrpaper {
  padding: 10px !important;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 330px auto;
  grid-gap: 20px;
  grid-template-rows: auto 1fr;
}
.adminmsrtitle {
  font-weight: 500;
  font-size: 45px;
}
.adminmsrgrid1 {
  border-style: solid;
  border-radius: 30px;
  border-color: #f2f3f2;
  padding: 20px !important;
  grid-row: 1/3;
  background-color: #f9f9f9;
}
.adminmsrgrid2 {
  border-style: solid;
  border-radius: 30px;
  border-color: #f2f3f2;
  padding: 20px !important;
}
.adminmsrgrid3 {
  border-style: solid;
  border-radius: 30px;
  border-color: #f2f3f2;
  padding: 30px !important;
}

.adminmsrtitle1 {
  color: #fa5e00;
  text-align: left;
  font-weight: bolder;
  font-size: large;
}
.adminmsrhr1 {
  width: 220px;
  background-color: #f2f3f2;
  border: 1px solid #f2f3f2;
  margin-top: 10px;
}
.admindisplaygrid {
  display: grid;
  grid-template-columns: 117px auto;
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 10px;
}

.adminmsrtitle2 {
  color: #fa5e00;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  margin-top: 40px;
}

.adminmsrattachment {
  background-color: #ffffff;
  border-radius: 32.5px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  height: 45px;
  padding: 10px 20px;
  display: flex;
}

.adminmsrattachIcon {
  width: 18px;
  height: 22px;
}

.adminmsrcross1 {
  height: 12px;
  width: 12px;
  margin-top: 5px;
  cursor: pointer;
}

.admindiv-name {
  display: inline-block;
  width: 210px;
  margin-left: 10px;
  cursor: pointer;
}

.adminmsrtitle3 {
  color: #fa5e00;

  font-weight: bolder;
  font-size: large;
}
.adminmsrspan1 {
  display: inline-block;
  margin-top: 20px;
  font-weight: 300;
}

.adminmsrbutton1 {
  width: 180px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 30px;
  font-weight: 300;
  cursor: pointer;
}

.adminmsrbutton2 {
  width: 180px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 30px;
  margin-left: 30px;
  font-weight: 300;
  cursor: pointer;
}

.adminmsrbutton3 {
  width: 150px;
  height: 50px;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 30px;
  margin-left: 30px;
  font-weight: 300;
}

.adminmsrimage {
  display: inline-block;

  width: 60px;
  height: 60px;
}

.adminmsrCommonIcon {
  height: 35px;
  width: 35px;
}

.adminmsrupdatesgrid {
  display: grid;
  grid-template-columns: 80px auto;
  margin-top: 10px;
  
}

.adminmsrspan21 {
  font-size: larger;
  display: inline-block;
  margin-top: 10px;
}

.adminmsrspan3 {
  margin-left: 10px;

  font-size: larger;
}

.adminmsrdiv3 {
  margin-top: 20px;
  font-weight: 100;
}

.adminmsrhr1 {
  width: 80%;
  margin-left: 9%;
}
.adminhroundcircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: black;
  background-color: #ff8282;
  padding-top: 5px;
  text-align: center;
  float: left;
}
.adminmroundcircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: black;
  background-color: #ffe289;
  padding-top: 5px;
  text-align: center;
  float: left;
}
.adminlroundcircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: black;
  background-color: #c0f587;
  padding-top: 5px;
  text-align: center;
  float: left;
}

.adminmymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  border-radius: 25px;
  outline: none;
  padding: 20px 20px 20px 20px;
  width: 700px;
  height: 360px;
  z-index: 1000;
}

.adminmyoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.admindialogclose {
  text-align-last: right;
}
.admindialog-row1 {
  margin-left: 30px;
}
.admindialogname {
  font-size: 22px;
  color: #fa5e00;
  margin-top: 12px;
}

.admindialog-row2 {
  margin-left: 30px;
}

.adminmodeltextarea {
  border-radius: 5px;
  border: solid 1px #cdcdcd;
  background-color: #f0f0f0;
  width: 400px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 15px;
  height: 95px;
}

.adminsubmitbtn {
  width: 130px;
  height: 40px;
  border: #000;
  border-radius: 50px;
  background-color: #000;
  color: white;
  font-weight: 100;
  cursor: pointer;
}
.adminclosebtn {
  margin-left: 10px;
  width: 130px;
  height: 40px;
  border: grey ridge;
  border-radius: 50px;
  background-color: white;
  color: black;
  cursor: pointer;
}
.admindisplaygrid1 {
  font-weight: 300;
  width:149px;
}

.adminmyattachmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  border-radius: 25px;
  outline: none;
  padding: 20px 20px 20px 20px;
  width: 750px;
  /* height: 360px; */
}

.admindragndrop {
  border-radius: 10px;
  height: 125px;
  width: 65%;
  background-color: #f0f0f0;
  color: #000;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  font-weight: 300;
  margin-top: 10px;
  cursor: pointer;
}

.adminor {
  position: relative;
  left: 66%;
  bottom: 95px;
}

.adminbrowse {
  position: relative;
  left: 70%;
  bottom: 95px;
}

.adminbrowsebtn {
  width: 130px;
  height: 50px;
  border: #000;
  border-radius: 50px;
  background-color: #000;
  color: white;
  font-weight: 100;
  cursor: pointer;
}

.adminfile{
  width:35%;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #f6f6f6;
  height:50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.adminfileName{
  font-weight: 300;
  font-size:medium;
  align-items: center;
  position: relative;
  left: 10px;
  bottom: 5px;
  
}

.adminmsrBox1{
  height: fit-content;
}

.adminrcanone{
  display: none;
}


 .adminballIcon{
   position: relative;
   top: 5px;
   height: 20px;
   left: 50px;
}

.adminballIcon{
  position: relative;
  top: 5px;
  height: 20px;
  left: 50px;
}

.priorityLabel{
   font-size: 12px;
   color: #8b8b8b;
   font-weight: 300;
}

.admsrselect1{
  width: 100%;
  height: 45px;
  border-color: #cdcdcd;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 5px;
}

.admsrselect1:focus ~ .adminDropdown{
  transform: rotate(180deg);
}

.adminDropdown{
   height: 10px;
   width: 15px;
   bottom: 33px;
   left: 250px;
   transition: all .1s ease-in-out;
   position: relative;
}

/* .adminRotate{
   transform: rotate(180deg);
} */

.statusLabel{
   font-size: 12px;
   color: #8b8b8b;
   font-weight: 300;
  
}

.jobReferenceLabel{
   font-size: 12px;
   color: #8b8b8b;
   font-weight: 300;
}

.adminSearchIcon{
   height: 20px;
   width: 20px;
   bottom: 33px;
   left: 250px;
   transition: all .1s ease-in-out;
   position: relative;
}

.displaygridsite{
   width: 117px;
}

.admsrinput1{
   width: 100%;
   height: 45px;
   border-color: #cdcdcd;
   font-size: 15px;
   border-radius: 10px;
   padding-left: 5px;
}

.adminUpdateStatusBtn{
   width: 50%;
   margin-top: 30px;
   border-radius: 32.5px;
   background-color: black;
   color: #f9f9f9;
   font-weight: 300;
   border: none;
   height: 55px;
}

.adminIgnoreBtn{
   width: 35%;
   margin-left: 20px;
   height: 55px;
   border-radius: 32.5px;
   border: none;
   background-color:  #f9f9f9;
   border: 1px solid #d3d3d3;
} 

.miniadmindisplaygrid1{
  font-weight: 600;
}

.minidisplaygrid1{
  font-weight: 300;
  text-align: left;
}

.adminclhrFirst {
  background-color: #f2f3f2;
  border: 1.5px solid #f2f3f2;
  position: relative;
  width: 170px;
}

.admincheckbox{
  height: 18px;
  width: 15px;
}
