.bucontainer{
    padding: 10px;
    margin-left: 40px;
    
}
.butitle{
    font-weight: 300;
    font-size: 45px;
}

.bucontainerhr{
    width: 77%;
  margin-left: 173px;
  background-color: #f2f3f2;
  border: 1px solid #f2f3f2;
  margin-top: 10px;
}

.bubtn{
    background-color:black ;
    color: aliceblue;
    border: none;
    height: 45px;
    width: 160px;
    border-radius: 32.5px;
    margin-top: 50px;

}

.butable{
    width: 1000px;
    margin-top: 10px;
}

.buhead{
    width: 750px;
   border-bottom: 1px solid #f2f3f2;
   
}

.buiemail{
    width: 300px;
    font-weight: bold;
}

.buname{
    width: 180px;
    font-weight: bold;
}

.buPassData{
   width: 150px;
}

.bunumber{
    width: 180px;
    font-weight: bold;
}

.bustatus{
    width: 210px;
    font-weight: bold;
}
.butr{
   border-bottom: none;
}

.butr:hover{
  background-color:  #f2f2f2;
}
.buselecttag{
    width: 180px;
    font-size: 18px;
    border-radius: 5px;
    border: solid 1px #cdcdcd;    height: 30px;
    padding-left: 10px;
    height: 35px;
    font-weight: 300;
}

.buselecttag:focus ~ .budropdownimg{
  transform: rotate(180deg);
}
.buoption1,.buoption2{
    font-weight: 300;
    padding-top: 10px;
}
.budropdownimg{
    height: 8px;
    width: 12px;
    position: relative;
    right: 25px;
    transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.bausermodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    overflow: auto;
    border-radius: 25px;
    outline: none;
    padding: 20px 20px 20px 20px;
    width: 850px;
    height: 380px;
    z-index: 1000;
  }
  
  .bauseroverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }
  
  .bauserdialogclose {
    text-align-last: right;
  }
  .bauserdialog-row1 {
    margin-left: 30px;
  }
  
  
  .bauserdialog-row2 {
    margin-left: 30px;
  }
  
  
  .bainput {
    border-radius: 10px;
    border: solid 1px #cfcece;
    background-color: #fff;
    width: 300px;
    height: 45px;
    margin-top: 20px;
    padding-left: 10px;
    color: #000;
  }
  
  .bainput-label {
    color: #999;
    position: relative;
    pointer-events: none;
    right: 291px;
    transition: 0.2s;
    font-size: 15px;
  }
  
  .bainput:focus ~ .bainput-label,
  .bainput:valid ~ .bainput-label {
    bottom: 23px;
    right: 291px;
    position: relative;
    font-size: small;
    color: #525252;
    background-color: #fff;
    padding: 0 5px 0 5px;
  }
  
  .ba2input {
    border-radius: 10px;
    border: solid 1px #cfcece;
    background-color: #fff;
    width: 300px;
    height: 45px;
    margin-top: 20px;
    margin-left: 23px;
    padding-left: 10px;
    color: #000;
  }
  
  .ba2input-label {
    color: #999;
    position: relative;
    pointer-events: none;
    right: 290px;
    transition: 0.2s;
    font-size: 15px;
  }
  
  .ba2input:focus ~ .ba2input-label,
  .ba2input:valid ~ .ba2input-label {
    bottom: 23px;
    right: 290px;
    position: relative;
    font-size: small;
    color: #525252;
    background-color: #fff;
    padding: 0 5px 0 5px;
  }


.bustatusdata{
  z-index: 1000;
}