* {
  box-sizing: border-box;
}

.clcontainer {
  padding: 10px !important;
  display: inline-block;
  margin-left: 40px;
  margin-right: 50px;
  width: 85%;

}

.cltitle {
  font-weight: 500;
  font-size: 45px;
}

.clcontainerhr {
  width: 82%;
  margin-left: 170px;
  background-color: #f2f3f2;
  border: 1px solid #f2f3f2;
}

.clpaper {
  border-style: solid;
  border-radius: 30px;
  border-color: #f2f3f2;
  padding: 20px !important;
  margin-top: 30px;
  min-width: 1058px;
  position: relative;
}

.clnames {
  color: #fa5e00;
    font-size: 28px;
    font-weight:600;
}
.clfirstrow {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
.clhrFirst {
  background-color: #f2f3f2;
  border: 1.5px solid #f2f3f2;
  position: relative;
  width: 230px;
}

.btnjob {
  margin-top: 32px;
    border-radius: 32px;
    background-color: #000;
    width: 205px;
    height: 43px;
    color: white;
    position: relative;
    border: #000;
    font-weight: 100;
}

.gridmove {
  position: relative;
  display: inline-block;
  width: 60%;
  bottom: 30px;
  left: 400px;
}

.gridbox1 {
  width: 75%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 30px;
  column-gap: 32px;
  margin-top: 62px;
}

.servicetype {
  border-radius: 10px;
  border: solid 1px #cfcece;
  background-color: #fff;
  width: 400px;
  height: 45px;
  margin-top: 30px;
  padding-left: 10px;
  color: #000;
  
}

.servicetype:focus ~ .clDropdown{
  transform: rotate(180deg);
}

.clhr1 {
  width: 80%;

  background-color: #f2f3f2;
  border: 1px solid #f2f3f2;
  margin-top: 10px;
}
.clinput {
  border-radius: 10px;
  border: solid 1px #cfcece;
  background-color: #fff;
  width: 400px;
  height: 45px;
  margin-top: 20px;
  padding-left: 10px;
  color: #000;
}

.cltextarea {
  border-radius: 15px;
  border: solid 1px #cdcdcd;
  width: 400px;
  margin-top: 18px;
  padding-left: 10px;
  padding-top: 15px;
  font-weight: "bolder";
      font-family: "outfit",
}

.name1 {
  margin-left: 75px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #fa5e00;
}

.cldragndrop {
  border-radius: 10px;
  height: 145px;
  width: 53%;
  background-color: #f0f0f0;
  color: #000;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  font-weight: 300;
}

.clor {
  position: relative;
  left: 55%;
  bottom: 95px;
}

.clbrowse {
  position: relative;
  left: 60%;
  bottom: 95px;
}

.clbrowsebtn {
  width: 130px;
  height: 50px;
  border: #000;
  border-radius: 50px;
  background-color: #000;
  color: white;
  font-weight: 100;
}

.clhr2 {
  width: 22%;
  background-color: #f2f3f2;
  border: 1px solid #f2f3f2;
  margin-top: 10px;
  margin-bottom: 20px;
}

.name2 {
  margin-left: 75px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #fa5e00;
}

.filemap {
  width: 42%;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #f6f6f6;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width:1200px) {
  .filemapblock{
    /* display: block;
    margin-left: 0px;
    margin-top: 10px; */
    width: 45%
  }
}

.fileName {
  font-weight: 300;
  font-size: medium;
  align-items: center;
  position: relative;
  left: 10px;
  bottom: 5px;
}

.highBtn {
  height: 50px;
  width: 120px;
  border-radius: 50px;
  border: solid 1px #d3d3d3;
  background-color: #fff;
}

.highBtnActive {
  background-color: #ff8282;
}

.mediumBtn {
  height: 50px;
  width: 120px;
  border-radius: 50px;
  border: solid 1px #d3d3d3;
  background-color: #fff;
  margin-left: 30px;
}

.mediumBtnActive {
  background-color: #ffe289;
}

.lowBtn {
  height: 50px;
  width: 120px;
  border-radius: 50px;
  border: solid 1px #d3d3d3;
  background-color: #fff;
  margin-left: 30px;
}

.lowBtnActive {
  background-color: #c0f587;
}

.submitBtn {
  height: 50px;
  width: 120px;
  border-radius: 50px;
  border: solid 1px #d3d3d3;
  background-color: #000;
  border: #000;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  font-weight: 100;
}

.createmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  border-radius: 25px;
  outline: none;
  padding: 20px 20px 20px 20px;
  width: 700px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.dialogclose {
  text-align-last: right;
}
.dialog-row1 {
  margin-left: 30px;
}
.dialogname {
  font-size: 22px;
  color: #fa5e00;
}

.subpaper {
  border-style: solid;
  border-radius: 30px;
  border-color: #f2f3f2;
  padding: 20px !important;
  margin-top: 30px;
  background-color: #f9f9f9;
}

.subnames {
  color: #fa5e00;
  font-size: 28px;
}
.subfirstrow {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  
}
.subhrFirst {
  background-color: #f2f3f2;
  border: 1.5px solid #f2f3f2;
  position: relative;
  width: 250px;
}
.subtext {
  font-size: 19px;
  margin-top: 50px;
  font-weight: 300;
  width: 96%;
}

.subspan {
  font-weight: 600;
  text-decoration: underline;
  color: black;
}

.subcontrol {
  height: 41.7vh;
  border: #fa5e00;
}

.clinput-label {
  color: #999;
  position: relative;
  pointer-events: none;
  right: 390px;
  bottom: 2px;
  transition: 0.2s;
  font-size: 15px;
}

.clinput:focus ~ .clinput-label,
.clinput:valid ~ .clinput-label {
  bottom: 22px;
  right: 390px;
  position: relative;
  font-size: small;
  color: #525252;
  background-color: #fff;
  padding: 0 5px 0 5px;
}
.cltextarea-label {
  color: #999;
  position: relative;
  pointer-events: none;
  right: 390px;
  bottom: 160px;
  transition: 0.2s;
  color: "black";
  font-weight: "bold";
  font-size: "16px";
}

.cltextarea:focus ~ .cltextarea-label,
.cltextarea:valid ~ .cltextarea-label {
  bottom: 180px;
  right: 390px;
  position: relative;
  font-size: "16px";
  color: #525252;
  background-color: #fff;
  padding: 0 5px 0 5px;
  font-weight: "bold";
}

.optiontag {
  font-size: large;
  color: #999;
}

.header {
  font-size: large;
}
th,
td {
  text-align: left;
}
.sortabletr:hover {
  background-color: #f2f2f2;
}
.sortabletr{
  cursor: pointer;
}
button{
  cursor: pointer;
}

.admsrselect1{
  width: 100%;
  height: 45px;
  border-color: #cdcdcd;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 5px;
}

.admsrselect1:focus ~ .clDropdown{
  transform: rotate(180deg);
}

.clDropdown{
   height: 10px;
   width: 15px;
 
   
   right: 25px;
   transition: all .1s ease-in-out;
   position: relative;
}

/* DropDown Styles */

  
.cldropdown {
  width: 400px;
  height: 43px;
  margin: 13px 0px 0px 0px;
  padding-left: 11px;
  padding-top: 2px;
  font-size: 13px;
  border-radius: 10px;
  border: solid 1px #cdcdcd;
  background-color: #fff;
  color: #505050;
 
}

.cldropdown-header {
padding-top: 10px;
cursor: pointer;
display: flex;
justify-content: space-between;
align-items: center;
}

.cldropdown-body {
padding: 5px;
border-top: 1px solid #E5E8EC;
display: none;
}

.cldropdown-body.clopen {
display: block;
position: absolute;
background-color: white;
z-index: 100000;
width: 400px;
left:20px;
top:28.3%;
border-radius: 10px;
border: solid 1px #cdcdcd;
}

.cldropdown-item {
padding: 10px;
}

.cldropdown-item:hover {
cursor: pointer;
background-color: #f2f2f2;
}

.cldropdown-item-dot {
opacity: 0;
color: #91A5BE;
transition: all .2s ease-in-out;
}

.cldropdown-item-dot.selected {
opacity: 1;
}

.clicon {
font-size: 13px;
color: #91A5BE;
transform: rotate(270deg);
transition: all .2s ease-in-out;
}

.clicon.open {
transform: rotate(90deg);
}

.clcommondropdown{
  position: relative;
  right: 15px;
  width: 15px;
  height: 9px;
  
 transition: all 100ms ease-in-out;
}

.clcommondropdownrotate{
transform: rotate(180deg);
}

.error1{
  color:  rgba(255, 0, 0, 0.699);
  font-size: 16px;
  position:relative;
  top:35px
}

.error2{
  color:  rgba(255, 0, 0, 0.699);
  font-size: 16px;
  position:relative;
  top:33px
}
.error3{
  color:  rgba(255, 0, 0, 0.699);
  font-size: 16px;
  position:relative;
  top: 115px;
}
.error4{
  color:  rgba(255, 0, 0, 0.699);
  font-size: 16px;
}