*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.request-a-customer-account {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 0 0 0;
  background-color: #fff;
}


.firstHalf1 {
  min-width: 740px;
  display: inline-block;
  
  
}
.HPD-Existing-Logo {
  margin: 40px 0 80px 45px;
  
  display: inline-block;
}

.div1{
  width:590px;
  margin:5px 0px 0px 100px;
  position:relative;
  font-weight:300px;
  font-family:Outfit;
  color:#000000;
  font-size: 45px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.41px;
  text-align: left;
}



.buttonstart{
  margin-top: 50px;
   margin-left: 100px;
   border-radius: 32.5px;
  background-color: #000;
  color:white;
   width:200px;
   height:50px;
   position: absolute;
   
}

.iconright{
  margin-left: 90px;
}


.Rectangle-side {
  min-width: 620px;;
  height: 100vh;
  margin-left: auto;
 
  background-image: linear-gradient(to bottom, #f4f2ea 0%, #d9d6c9 100%);
 
}

@media screen and (max-height: 660px) {
  .Rectangle-side {
    height: auto;
  }
/*   .RACAcouplesideImg{
    top: 60%;
  } */
}

.RACAcouplesideImg{
  width: 440px;
  height: 260px;
  margin-left: 95px;
  position: absolute;
  bottom: 1px;
  
}