*{
    box-sizing: border-box;
   
  }
  
  body{
    padding: 0;
    margin: 0;
  }
  
  
  
  .forgotpassword{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    background-color: #fff;
    
  }
  
  
  .fpfirstHalf {
    width: 870px;
    display: inline-block;
    
  }

  .fpHPD {
    margin: 40px 0 50px 45px;
    
    display: inline-block;
  }
  
  .fpdiv1{
    width:590px;
    margin:5px 0px 0px 100px;
    position:relative;
    font-weight:300px;
    font-family:Outfit;
    
    color:#000000;
    font-size: 45px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.41px;
    text-align: left;
  }

  .fpRectangle-side {
    min-width: 660px;;
    height: 100vh;
    margin-left: auto;
   
    background-image: linear-gradient(to bottom, #f4f2ea 0%, #d9d6c9 100%);
   
  }
  
  .fpcouplesideImg{
    width: 490px;
    height: 465px;
    margin-left: 100px;
    position: absolute;
    bottom: 1px;
    
  }

  .fpinputfield {
    width: 450px;
    height: 48px;
    margin: 20px 0px 0px 100px;
    padding-left: 10px;
    padding-top: 2px;
   
    border-radius: 10px;
    border: solid 1px #cdcdcd;
    background-color: #fff;
  }

  .fphr{
    margin:240px 0px 0px 100px;
    background-color: #f2f3f2;
    border: 2px solid #f2f3f2 ;
    width: 60%;
  }

  .learnmore{
    color: #fa5e00;
    margin-left: 5px;
  }

  .input13-label{
    color: #999;
    position: relative;
    pointer-events: none;
    right: 441px;
  
   
    transition: 0.2s;
    font-size: 12px;
  }
  
  .input13:focus ~ .input13-label, .input13:valid ~ .input13-label{
    bottom:23px;
    right: 440px;
    position: relative;
    font-size: 11px;
    color: #525252;
    background-color:#fff;
    padding:0 5px 0 5px;
  }

  .format{
    margin-left: 100px;
    font-size: small;
    margin-top: 5px;
    color: #cdcdcd;
  }

  .input13Error{
    position: absolute;
    left: 570px;
    top: 310px;
    color: rgba(255, 0, 0, 0.699);
  }