*{
    box-sizing: border-box;
   
  }
  
  body{
    padding: 0;
    margin: 0;
    
  }
  
  
  
  .forgotpassword{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    background-color: #fff;
    
  }
  
  
  .fpfirstHalf {
    width: 56.6vw;
    display: inline-block;
    
  }

  .fpHPD {
    margin: 5.4vh 0 6vh 3vw;
    height: 5vh;
    width: 2.5vw;
    display: inline-block;
  }
  
  .fpdiv1{
    width:38.4vw;
    margin:0.7vh 0px 0px 6.6vw;
    position:relative;
    font-weight:20vw;
    font-family:Outfit;
    
    color:#000000;
    font-size: 3vw;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.41px;
    text-align: left;
  }

  .fpRectangle-side {
    width: 43vw;;
    height: 100vh;
    margin-left: auto;
   
    background-image: linear-gradient(to bottom, #f4f2ea 0%, #d9d6c9 100%);
   
  }

/*   @media screen and (max-height: 700px) {
    .fpRectangle-side {
      height: auto;
    }
  } */
  
  .fpcouplesideImg{
    width: 32vw;
    height: 62.4vh;
    margin-left: 6.6vw;
    position: absolute;
    bottom: 0.15vh;
    
  }

  .fpinputfield {
    width: 30vw;
    height:6.5vh;
    margin: 3vh 0px 0px 6.6vw;
    padding-left: 0.6vw;
    padding-top: 0.12vw;
   
    border-radius: 10px;
    border: solid 1px #cdcdcd;
    background-color: #fff;
  }

  .fphr{
    margin:32vh 0px 0px 6.6vw;
    background-color: #f2f3f2;
    border: 2px solid #f2f3f2 ;
    width: 60%;
  }

  .learnmore{
    color: #fa5e00;
    margin-left: 0.33vw;
  }

  .input13-label{
    color: #999;
    position: relative;
    pointer-events: none;
    right: 28.7vw;
    bottom: 0.3vh;
  
   
    transition: 0.2s;
    font-size: 0.8vw;
  }
  
  .input13:focus ~ .input13-label, .input13:valid ~ .input13-label{
    bottom:3.4vh;
    right: 28.64vw;
    position: relative;
    font-size: 0.73vw;
    color: #525252;
    background-color:#fff;
    padding:0 0.33vw 0 0.7vh;
  }

  .format{
    margin-left: 6.6vw;
    font-size: small;
    margin-top: 0.8vh;
    color: #cdcdcd;
  }

  .input13Error{
    position: absolute;
    left: 37vw;
    top: 37vh;
    color: rgba(255, 0, 0, 0.699);
    font-size: 1vw;
  }