* {
  box-sizing: border-box;
}
.msrcontainer {
  padding: 10px !important;
  display: inline-block;
  margin-left: 40px;
  margin-right: 50px;
  width: 90%;
}
.msrcontainerhr {
  width: 70%;
  margin-left: 300px;
  background-color: #f2f3f2;
  border: 1px solid #f2f3f2;
  margin-top: 10px;
}
.msrpaper {
  padding: 10px !important;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 330px auto;
  grid-gap: 20px;
  grid-template-rows: auto 1fr;
  min-width: 1100px;
}
.msrtitle {
  font-weight: 500;
  font-size: 45px;
}
.msrgrid1 {
  border-style: solid;
  border-radius: 30px;
  border-color: #f2f3f2;
  padding: 20px !important;
  grid-row: 1/3;
  background-color: #f9f9f9;
}
.msrgrid2 {
  border-style: solid;
  border-radius: 30px;
  border-color: #f2f3f2;
  padding: 30px !important;
}
.msrgrid3 {
  border-style: solid;
  border-radius: 30px;
  border-color: #f2f3f2;
  padding: 30px !important;
}

.msrtitle1 {
  color: #fa5e00;
  text-align: center;
  font-weight: bolder;
  font-size: large;
}
.msrhr1 {
  width: 220px;
  background-color: #f2f3f2;
  border: 1px solid #f2f3f2;
  margin-top: 10px;
}
.displaygrid {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 10px;
  margin-top: 10px;
}

.msrtitle2 {
  color: #fa5e00;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  margin-top: 40px;
}

.msrattachment {
  background-color: #ffffff;
  border-radius: 32.5px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  height: 45px;
  padding: 10px 20px;
  display: flex;
}

.msrattachIcon {
  width: 18px;
  height: 22px;
}

.msrcross1 {
  height: 12px;
  width: 12px;
  margin-top: 5px;
  cursor: pointer;
}

.div-name {
  display: inline-block;
  width: 210px;
  margin-left: 10px;
  cursor: pointer;
}

.msrtitle3 {
  color: #fa5e00;

  font-weight: bolder;
  font-size: large;
}
.msrspan1 {
  display: inline-block;
  margin-top: 20px;
  font-weight: 300;
}

.msrbutton1 {
  width: 180px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 30px;
  font-weight: 300;
  cursor: pointer;
}

.msrbutton2 {
  width: 180px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 30px;
  margin-left: 30px;
  font-weight: 300;
  cursor: pointer;
}

.msrbutton3 {
  width: 180px;
  height: 50px;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 30px;
  margin-left: 30px;
  font-weight: 300;
}
.msrbutton3:hover {
  background-color: #000;
  color: white;
}

.msrimage {
  display: inline-block;

  width: 80px;
  height: 80px;
}

.msrCommonIcon {
  height: 36px;
  width: 40px;
}

.msrupdatesgrid {
  display: grid;
  grid-template-columns: 80px auto;
  margin-top: 10px;
  
}

.msrspan21 {
  font-size: larger;
  display: inline-block;
  margin-top: 10px;
}

.msrspan3 {
  margin-left: 10px;

  font-size: larger;
}

.msrdiv3 {
  margin-top: 20px;
  font-weight: 100;
}

.msrhr1 {
  width: 80%;
  margin-left: 9%;
}
.hroundcircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: black;
  background-color: #ff8282;
  padding-top: 5px;
  text-align: center;
  float: left;
}
.mroundcircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: black;
  background-color: #ffe289;
  padding-top: 5px;
  text-align: center;
  float: left;
}
.lroundcircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: black;
  background-color: #c0f587;
  padding-top: 5px;
  text-align: center;
  float: left;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  border-radius: 25px;
  outline: none;
  padding: 20px 20px 20px 20px;
  width: 700px;
  height: 370px;
  z-index: 1000;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.dialogclose {
  text-align-last: right;
}
.dialog-row1 {
  margin-left: 30px;
}
.dialogname {
  font-size: 22px;
  color: #fa5e00;
  margin-top: 12px;
}

.dialog-row2 {
  margin-left: 30px;
}

.modeltextarea {
  border-radius: 5px;
  border: solid 1px #cdcdcd;
  background-color: #f0f0f0;
  width: 400px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 15px;
  height: 95px;
}

.submitbtn {
  width: 130px;
  height: 47px;
  border: #000;
  border-radius: 50px;
  background-color: #000;
  color: white;
  font-weight: 100;
  cursor: pointer;
}
.closebtn {
  margin-left: 10px;
  width: 130px;
  height: 47px;
  border: grey ridge;
  border-radius: 50px;
  background-color: white;
  color: black;
  cursor: pointer;
}
.closebtn:hover {
  background-color: #000;
  color: white;
}
.displaygrid1 {
  font-weight: 300;
  width:149px;
}

.myattachmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  border-radius: 25px;
  outline: none;
  padding: 20px 20px 20px 20px;
  width: 750px;
  /* height: 360px; */
}

.dragndrop {
  border-radius: 10px;
  height: 125px;
  width: 65%;
  background-color: #f0f0f0;
  color: #000;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  font-weight: 300;
  margin-top: 10px;
  cursor: pointer;
}

.or {
  position: relative;
  left: 66%;
  bottom: 95px;
}

.browse {
  position: relative;
  left: 70%;
  bottom: 95px;
}

.browsebtn {
  width: 130px;
  height: 50px;
  border: #000;
  border-radius: 50px;
  background-color: #000;
  color: white;
  font-weight: 100;
  cursor: pointer;
}

.file{
  width:35%;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #f6f6f6;
  height:50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fileName{
  font-weight: 300;
  font-size:medium;
  align-items: center;
  position: relative;
  left: 10px;
  bottom: 5px;
  
}

.msrBox1{
  height: fit-content;
}

.adminrcanone{
  display: none;
}