* {
  box-sizing: border-box;
}
.msrcontainer {
  padding: 0.61vw !important;
  display: inline-block;
  margin-left: 2.44vw;
  margin-right: 3.05vw;
  width: 90%;
}
.msrcontainerhr {
  width: 70%;
  margin-left: 9.12vw;
  background-color: #f2f3f2;
  border: 0.1vw solid #f2f3f2;
  margin-top: 1.34vh;
}
.msrpaper {
  padding: 0.61vw !important;
  margin-top: 5.36vh;
  display: grid;
  grid-template-columns: 20.17vw auto;
  grid-gap: 1.3vw;
  grid-template-rows: auto 1fr;
  /* min-width: 167.23vw; */
}
.msrtitle {
  font-weight: 500;
  font-size: 2.75vw;
}
.msrgrid1 {
  border-style: solid;
  border-radius:2vw;
  border-color: #f2f3f2;
  padding: 1.32vw !important;
  grid-row: 1/3;
  background-color: #f9f9f9;
}
.msrgrid2 {
  border-style: solid;
  border-radius: 1.9vw;
  border-color: #f2f3f2;
  padding: 1.83vw !important;
}
.msrgrid3 {
  border-style: solid;
  border-radius:  1.9vw;
  border-color: #f2f3f2;
  padding: 1.83vw !important;
}

.msrtitle1 {
  color: #fa5e00;
  text-align: center;
  font-weight: bolder;
  font-size: 1.32vw;
}
.msrhr1 {
  width: 13.44vw;
  background-color: #f2f3f2;
  /* /* border: 0.06 solid #f2f3f2; */
  border: 0.1vw solid #f2f3f2; 
  margin-top: 1.34vh;
}
.displaygrid {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1.2vw;
  column-gap: 0.61vw;
  margin-top: 1.34vh;
  font-size: 1vw;
}
.displayleft{
  font-size: 1vw;
}

.msrtitle2 {
  color: #fa5e00;
  text-align: center;
  font-weight: bolder;
  font-size: 1.32vw;
  margin-top: 5.36vh;
}

.msrattachment {
  background-color: #ffffff;
  border-radius: 1.95vw;
  border: solid 0.06vw rgba(0, 0, 0, 0.5);
  margin-top: 2.68vh;
  height: 6.04vh;
  padding: 1.34vh 1.3vw;
  display: flex;
}

.msrattachIcon {
  width: 1.18vw;
  height: 2.95vh;
}

.msrcross1 {
  height: 1.61vh;
  width: 0.8vw;
  margin-top: 0.5vh;
  cursor: pointer;
}

.div-name {
  display: inline-block;
  width: 12.83vw;
  margin-left: 0.61vw;
  cursor: pointer;
  font-size: 1vw;
}

.msrtitle3 {
  color: #fa5e00;

  font-weight: bolder;
  font-size: 1.32vw;
}
.msrspan1 {
  display: inline-block;
  margin-top: 2.68vh;
  font-weight: 300;
  font-size: 1.1vw;
}

.msrbutton1 {
  width: 11vw;
  height: 6.71vh;
  background-color: black;
  color: white;
  border-radius: 1.85vw;
  font-weight: 300;
  cursor: pointer;
  font-size: 1vw;
  border: none;
}

.msrbutton2 {
  width: 11vw;
  height: 6.71vh;
  background-color: black;
  color: white;
  border-radius: 1.85vw;
  margin-left: 1.85vw;
  font-weight: 300;
  cursor: pointer;
  font-size: 1vw;
  border: none;
}

.msrbutton3 {
  width: 11vw;
  height: 6.71vh;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 1.85vw;
  margin-left: 1.85vw;
  font-weight: 300;
  cursor: pointer;
  font-size: 1vw;
  border: 0.134px solid #cdcdcd;
}
.msrbutton3:hover {
  background-color: #000;
  color: white;
}

.msrimage {
  display: inline-block;

  width: 4.88vw;
  height: 10.73vh;
}

.msrCommonIcon {
  height: 4.83vh;
  width:  2.88vw;
}

.msrCommonIcon1 {
  height: 4.5vh;
  width:  2.1vw;
}

.msrupdatesgrid {
  display: grid;
  grid-template-columns: 10.73vh auto;
  margin-top: 1.34vh;
  
}

.msrspan21 {
  font-size: 1.32vw;
  display: inline-block;
  margin-top: 1.34vh;
  font-weight: 600;
}

.msrspan3 {
  margin-left: 0.611vw;

  font-size: 1.32vw;
}

.msrdiv3 {
  margin-top: 2.68vh;
  font-size: 1vw;
}

.msrhr11 {
  width: 80%;
  margin-left: 9%;
  border: 0.1vw solid #f2f3f2;
  background-color: #f2f3f2;
  margin-top: 1.34vh;
}
.msrhr1 {
  width: 13.44vw;
  background-color: #f2f3f2;
  border: 0.1vw solid #f2f3f2; 
  margin-top: 1.34vh;
}
.hroundcircle {
  width: 1.83vw;
  height: 4.02vh;
  border-radius: 50%;
  font-size: 0.9vw;
  color: black;
  background-color: #ff8282;
  padding-top: 0.8vh;
  text-align: center;
float: left;
}
.mroundcircle {
  width: 1.83vw;
  height: 4.02vh;
  border-radius: 50%;
  font-size: 0.9vw;
  color: black;
  background-color: #ffe289;
  padding-top: 0.8vh;
  text-align: center;
  float: left;
}
.lroundcircle {
  width: 1.83vw;
  height: 4.02vh;
  border-radius: 50%;
  font-size: 0.9vw;
  color: black;
  background-color: #c0f587;
  padding-top: 0.8vh;
  text-align: center;
  float: left;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  border-radius: 1.52vw;
  outline: none;
  padding: 2.68vh 1.22vw 2.68vh 1.22vw;
  width: 42.78vw;
  height: 49.66vh;
  z-index: 1000;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.dialogclose {
  text-align-last: right;
}
.dialog-row1 {
  margin-left: 1.83vw;
}
.dialogname {
  font-size: 1.34vw;
  color: #fa5e00;
  margin-top: 1.61vh;
}

.dialog-row2 {
  margin-left: 1.83vw;
}

.modeltextarea {
  border-radius: 0.30vw;
  border: solid 1px #cdcdcd;
  background-color: #f0f0f0;
  width: 24.44vw;
  margin-top: 1.61vh;
  padding-left: 0.61vw;
  padding-top: 2.01vh;
  height: 12.08vh;
}

.submitbtn {
  width: 7.94vw;
  height: 6.30vh;
  border: #000;
  border-radius: 3.05vw;
  background-color: #000;
  color: white;
  font-weight: 100;
  cursor: pointer;
}
.closebtn {
  margin-left: 0.61vw;
  width: 7.94vw;
  height: 6.30vh;
  border: grey ridge;
  border-radius: 3.05vw;
  background-color: white;
  color: black;
  cursor: pointer;
}
.closebtn:hover {
  background-color: #000;
  color: white;
}
.displaygrid1 {
  font-weight: 300;
  /* width:9.10vw; */
}

.myattachmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  border-radius: 1.52vw;
  outline: none;
  padding: 2.68vh 1.22vw 2.68vh 1.22vw;
  width: 45.84vw;
  /* height: 360px; */
}

.dragndrop {
  border-radius: 0.61vw;
  height: 7.64vw;
  width: 65%;
  background-color: #f0f0f0;
  color: #000;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  font-weight: 300;
  margin-top: 1.34vh;
  cursor: pointer;
}

.or {
  position: relative;
  left: 66%;
  bottom: 12.75vh;
}

.browse {
  position: relative;
  left: 70%;
  bottom: 12.75vh;
}

.browsebtn {
  width: 7.94vw;
  height: 6.71vh;
  border: #000;
  border-radius: 3.05vw;
  background-color: #000;
  color: white;
  font-weight: 100;
  cursor: pointer;
}

.file{
  width:40%;
  margin-top: 0.67vh;
  margin-bottom: 1.34vh;
  text-align: center;
  background-color: #f6f6f6;
  height:6.71vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fileName{
  font-weight: 300;
  font-size:1vw;
  align-items: center;
  position: relative;
  left: 0.61vw;
  bottom: 0.67vh;
  
}

.msrBox1{
  height: fit-content;
}

.adminrcanone{
  display: none;
}