* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.rca1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 0 0 0;
  background-color: #fff;
}

.rca1firstHalf {
  min-width: 56.65vw;
  display: inline-block;
}
.rca1HPD {
  margin: 5.4vh 0 6vh 3vw;
  height: 6vh;
  width: 3vw;
  display: inline-block;
}

.left-bar {
  /* width: 14.65vw;
  height: 1vh; */
  /* background-color: rgba(250, 96, 0, 0.664);
  margin: 2.75vh 0px 0px 6.7vw;
  border-top-left-radius: 0.33vw;
  border-bottom-left-radius: 0.33vw; */
  width: 285px;
  height: 10px;
  background-color: rgba(250, 96, 0, 0.664);
  margin: 0px 0px 0px 55px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: inline-block;
  position: relative;
}

.circle {
  /* width: 0.9vw;
  height: 2vh;
  border-radius: 0.9vw;
  */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(250, 130, 56);
  position: absolute;
  left: 20.9vw;
  top: 0.2vh;
}

.right-bar {
  /* width: 14.64vw;
  height: 1vh;
  background-color: #e1e1e1;
  margin: 2.75vh 0px 0px 0px;
  border-top-right-radius: 0.33vw;
  border-bottom-right-radius: 0.33vw; */
  width: 285px;
  height: 10px;
  background-color: #e1e1e1;
  margin: 6px 0px 0px 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline-block;
  position: absolute;
}

.rca1div1 {
  width: 38.4vw;
  margin: 0.67vh 0px 0px 6.51vw;
  position: relative;
  font-weight: 600;
  font-family: Outfit;
  color: #000000;
  font-size: 2.8vw;

  text-align: left;
}

.inputfields {
  width: 29vw;
  height: 6.5vh;
  margin: 2vh 0px 0px 6.51vw;
  padding-left: 0.66vw;
  padding-top: 0.26vh;
  font-size: 0.85vw;

  border-radius: 0.66vw;
  border: solid 0.065vw #cdcdcd;
  background-color: #fff;
}

.rca1Rectangle-side {
  width: 40%;
  height: 791px;
  margin: 0px 0 0 0px;
  padding: 487px 105px 31.2px 106px;
  background-image: linear-gradient(to bottom, #f4f2ea 0%, #d9d6c9 100%);
}

/* @media screen and (max-height: 650px) {
  .rca1Rectangle-side {
    height: auto;
  }
} */

.rca1couplesideImg {
  width: 30vw;
  height: 62.4vh;
  margin-left: 0vw;
  position: absolute;
  bottom: 0.15vh;
}
.continue {
  width: 100px;
  height: 23px;

  background-color: black;
  color: white;
  border-radius: 1.5vw;
  margin-left: 6.51vw;
  margin-top: 2vh;
  box-shadow: none;
  font-size: 18px;
  font-family: Outfit;
  letter-spacing: 0.03px;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input1-label {
  color: #999;
  position: relative;
  pointer-events: none;
  right: 28.64vw;
  bottom: 0.26vh;

  transition: 0.2s;
  font-size: 1vw;
}

.input1:focus ~ .input1-label,
.input1:valid ~ .input1-label {
  bottom: 3.4vh;
  right: 28.64vw;
  position: relative;
  font-size: 0.65vw;
  color: #525252;
  background-color: #fff;
  padding: 0 0.33vw 0 0.33vw;
}

.input21-label {
  color: #999;
  position: relative;
  pointer-events: none;
  right: 28.64vw;
  bottom: 2px;

  transition: 0.2s;
  font-size: 1vw;
}

.input21:focus ~ .input21-label,
.input21:valid ~ .input21-label {
  bottom: 3.4vh;
  right: 28.64vw;
  position: relative;
  font-size: 0.65vw;
  color: #525252;
  background-color: #fff;
  padding: 0 0.33vw 0 0.33vw;
}

.input3-label {
  color: #999;
  position: relative;
  pointer-events: none;
  right: 28.64vw;
  bottom: 0.27vh;

  transition: 0.2s;
  font-size: 1vw;
}

.input3:focus ~ .input3-label,
.input3:valid ~ .input3-label {
  bottom: 3.4vh;
  right: 28.64vw;
  position: relative;
  font-size: 0.65vw;
  color: #525252;
  background-color: #fff;
  padding: 0 0.33vw 0 0.33vw;
}

.input4-label {
  color: #999;
  position: relative;
  pointer-events: none;
  right: 26.7vw;

  transition: 0.2s;
  font-size: 1vw;
}

.dummyNum {
  color: #3b3b3b;
  font-size: 0.82vw;
  position: relative;
  left: 7.16vw;
  bottom: 4.16vh;
  display: block;
  width: fit-content;
}

.input4 {
  padding-left: 2.3vw;
  position: relative;
}

/* .input4:focus ~ .dummyNum, .input4:valid ~ .dummyNum{
  color:#3b3b3b;
  font-size: 13px;
  position: relative;
  right: 530px;
  display: inline-block;
  width: fit-content;
} */

.input4:focus ~ .input4-label,
.input4:valid ~ .input4-label {
  bottom: 3.4vh;
  right: 26.7vw;
  position: relative;
  font-size: 0.65vw;
  color: #525252;
  background-color: #fff;
  padding: 0 0.33vw 0 0.33vw;
}

.myWarningModal {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 200px;
  width: 400px;
  border-radius: 0.66vw;
}

.ModalButton {
  width: 40px;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 180px;
  margin-top: 30px;
  color: #999;
  border: 1px solid #999;
}

.myWarningOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.rca1span11 {
  margin-left: 6.51vw;
  margin-top: 0px;
  display: block;
  font-weight: 300;
  font-size: 0.8vw;
}

.inputError {
  color: rgba(255, 0, 0, 0.699);
}

.input1Error {
  position: absolute;
  left: 36.5vw;
  top: 40.3vh;
  font-size: 1vw;
}

.input2Error {
  position: absolute;
  left: 36.5vw;
  top: 49vh;
  font-size: 1vw;
}

.input3Error {
  position: absolute;
  left: 36.5vw;
  top: 57vh;
  font-size: 1vw;
}

.input4Error {
  position: absolute;
  left: 36.5vw;
  top: 67vh;
  font-size: 1vw;
}
