.s8Paper {
  border-style: solid;
  border-radius: 1.95vw;
  border-color: #f2f3f2;
  padding: 3.8vh 1.33vw !important;
  margin-top: 4vh;
  margin-left: 3vw;
  width: 80%;
}

.s8text1 {
  font-size: 22px;
  font-weight: bold;
  display: inline;
}
.s8baricon {
  margin-left: 3vw;
  position: relative;
  top: 1vh;
  width: 42vw;
}

.quotetextarea {
  border-radius: 0.5vw;
  border: solid 1px #cdcdcd;
  /* background-color: #f0f0f0; */
  width: 26.44vw;
  margin-top: 1.61vh;
  padding-left: 0.61vw;
  padding-top: 2.01vh;
  height: 26.08vh;
  font-size: 1vw;
}
