.clscontainer{
    padding: 10px !important;
    display: inline-block;
   margin-left: 40px;
   margin-right: 50px;
    width: 85%;
   
}


.clstitle {
    font-weight: 500;
    font-size: 45px;
  }  

  .clscontainerhr{
    width: 70%;
    margin-left: 300px;
    background-color: #f2f3f2;
    border: 1px solid #f2f3f2 ;
    margin-top: 10px;
    
  }  

  .clspaper {
    border-style: solid;
    border-radius: 30px;
    border-color: #f2f3f2;
    padding: 20px !important;
    margin-top: 30px;
  }

  .clsnames {
    color: #fa5e00;
    font-size:28px;
  
  }
  .clsfirstrow {
    display: flex;
    flex-direction: column;
    margin-bottom:2%
  }
  .clshrFirst{
    background-color: #f2f3f2;
    border: 1.5px solid #f2f3f2 ;
    position: relative;
    width:250px;
  }
  .clstext{
      font-size: 19px;
      margin-top: 50px;
      font-weight: 300;
      width: 75%;
  }

  .clsspan{
    font-weight: 600;
  text-decoration: underline;
  color: black;
  }

  .clscontrol{
    height:41.7vh;
    border: #fa5e00;
  }